.container
{
	width:100%;
	max-width:350px;
	margin:auto;
	box-sizing:border-box;
	box-shadow:2px 2px 2px black;
	background-color:rgb(189, 245, 240);
	text-align:center;
}
#header
{
	display:none;
	text-shadow: 1px 1px black;
	float:left;
}
#profileData
{
	display:none;
	color:black;
	size:20px;
}
a
{
	margin-left:20px;
	font-weight:bold;
	text-size:20px;
	color:white;
	background-color:black;
	float:left;
	text-decoration:none;
	box-sizing:border-box;
}
button
{
	margin-right:20px;
	color:white;
	text-size:20px;
	background-color:black;
	font-weight:bold;
	float:right;
}
a:hover
{
	box-shadow:5px 5px 5px #888888;
}

button:hover
{
	box-shadow:5px 5px 5px #888888;
}
